{% extends "_layouts/cp.twig" %}
{% set settings = craft.contentoverview.settings %}

{% set title = settings.pluginTitle|t('contentoverview') %}

{% if page is not defined %}
    {% set page = settings.defaultPage %}
{% endif %}
{% set selectedSubnavItem  = page %}

{% set title = title ~ ': ' ~ settings.getPageLabel(page) %}

{% set tabSettings = settings.getTabs(page) %}

{# tabs is a cp variable, see https://craftcms.com/docs/4.x/extend/cp-templates.html#adding-tabs #}
{% set tabs = [] %}

{% for tab in tabSettings %}
    {% set tabs = tabs|push({label: tab.label, url:"##{tab.id}"}) %}
{% endfor %}

{% block contextMenu %}
    {% include "contentoverview/partials/sitemenu.twig" %}
{% endblock %}

{% block content %}

    {% for tab in tabSettings %}
        <div id="{{ "#{tab.id}" }}" class="co {{ loop.index > 1 ? 'hidden' }}">
            {% include 'contentoverview/partials/tab.twig' with {
                tab,
                settings
            } only %}
        </div>
    {% endfor %}
{% endblock %}
