{# @params entry, sectionConfig, createEditorJs #}

{# @var entry \craft\elements\Entry #}
{# @var settings \wsydney76\contentoverview\models\Settings #}

<a href="{{ entry.cpEditUrl }}" target="{{ settings.linkTarget }}">{{ entry.title }}</a>

