{# @params entry, sectionConfig #}

{# @var entry \craft\elements\Entry #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% set infoContent = sectionConfig.getInfoContent(entry) %}

{% if infoContent %}
    <div class="co-info-content">
        {{ infoContent|raw|purify(settings.purifierConfig) }}
    </div>
{% endif %}