{# @params entry, sectionConfig #}

{# @var entry \craft\elements\Entry #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% set popupInfo = sectionConfig.getPopupInfo(entry) %}

{% if popupInfo %}
    {% set info = view.renderObjectTemplate(popupInfo, entry) %}
    {% if info %}
        <div class="info" tabindex="0" aria-role="button"
             aria-label="{{ "Information"|t('contentoverview') }}">
            {{ info|raw }}
        </div>
    {% endif %}
{% endif %}
