{# @params entry, settings, sectionConfig, createEditorJs #}

{# @var entry \craft\elements\Entry #}
{# @var image \craft\elements\Asset #}
{# @var settings \wsydney76\contentoverview\models\Settings #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}


{% if sectionConfig.layout != 'line' %}
    <div class="co-image {{ settings.enableSlideoutEditor ? 'co-slideout' }}" onclick="{{ createEditorJs }}">
        {% set image = null %}
        {% set imageField = sectionConfig.getImageField(entry) %}
        {% if imageField %}
            {% set image = entry.getFieldValue(imageField).one ?? settings.fallbackImage %}
        {% endif %}
        {% if image %}
            {{ image.img(settings.transforms[sectionConfig.layout ?: settings.defaultLayout]) }}
        {% else %}
            {% set icon = sectionConfig.getIcon(entry) %}
            {% set icon = icon ? view.renderObjectTemplate(icon, entry) : settings.defaultIcon %}
            {{ svg(icon)|attr(settings.iconSize) }}
        {% endif %}
    </div>
{% endif %}