{# @params entry #}

{# @var entry \craft\elements\Entry #}

{% if entry.isDraft %}
    <div data-icon="draft" aria-hidden="true"></div>
{% else %}
    <div class="status {{ entry.status }}"></div>
{% endif %}
