{# @params entry, sectionConfig #}

{# @var entry \craft\elements\Entry #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% set info = sectionConfig.getInfo(entry) %}

{% if info %}
    <div>
        {{ view.renderObjectTemplate(info, entry)|raw }}
    </div>
{% endif %}

{% set template = sectionConfig.getInfoTemplate(entry) %}
{% if template %}
    <div>
        {{ view.renderTemplate(template, {entry}, 'site')|raw }}
    </div>
{% endif %}