{# @params entry #}

{# @var entry \craft\elements\Entry #}

{# TODO: ??? #}
{% if 1 == 2 and entry.isDraft %}
    <div data-icon="draft" aria-hidden="true"></div>
{% else %}
    <div class="status {{ entry.status }}"></div>
{% endif %}
