{# @params sectionConfig, filters, orderByOptions #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% import '_includes/forms' as forms %}

{% for filter in filters %}

    {% if filter['fieldInstance'] is defined %}
        {% set fieldInstance = filter.fieldInstance %}
        {% set label = (filter.label is defined ? filter.label : fieldInstance.name)|t('site') ~ '...' %}
    {% endif %}

    <div>
        {% switch filter.fieldType %}

        {% case "custom" %}

            {% set label = filter.label %}

        {% endswitch %}

        {% set config = {
            name: "#{sectionPath}-filter",
            options: filter.getOptions()
                .prepend({label: 'Filter by'|t('contentoverview') ~ ': ' ~ filter.label|t('site'), value: ''}),
            inputAttributes: {
                data: {
                    'handle': filter.type == 'custom' ? filter.handle : filter.relatedToParam,
                    'type': filter.fieldType
                },
                onchange: "co_getSectionHtml('#{ sectionPath }')"
            }
        } %}

        {% if filter.useSelectize %}
            {{ forms.selectize(config) }}
        {% else %}
            {{ forms.select(config) }}
        {% endif %}


    </div>
{% endfor %}
