{% import '_includes/forms' as forms %}


{% for filter in filters %}

    {% set field = filter.fieldInstance %}
    {% set label = (filter.label is defined ? filter.label : field.name)|t('site') %}

    <div>
        {% switch filter.type %}

        {% case "entriesField" %}

            {% set entries = craft.entries({
                section: filter.sections
            })
                .orderBy(filter.orderBy ?? null)
            .collect %}

            {% set options = entries|map(entry => {label: entry.title, value: entry.id}) %}

        {% case "usersField" %}


            {% set users = craft.users()
                .orderBy(filter.orderBy ?? null)
            .collect %}

            {% set options = users|map(user => {label: user.name, value: user.id}) %}


        {% case "optionsField" %}

            {% set options = field.options|filter(option => option.value != '') %}

        {% endswitch %}

        {{ forms.select({
            name: "#{sectionPath}-filter",
            options: options
            |unshift({label: label|t('site'), value: ''}),
            inputAttributes: {
                data: {
                    'field': filter.field,
                    'type': filter.type
                },
                onchange: "co_getSectionHtml('#{ sectionPath }')"
            }
        }) }}

    </div>
{% endfor %}
