{# @params sectionConfig, filters, orderByOptions #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% import '_includes/forms' as forms %}

{% for filter in filters %}

   {% if filter['fieldInstance'] is defined %}
       {% set fieldInstance = filter.fieldInstance %}
       {% set label = (filter.label is defined ? filter.label : fieldInstance.name)|t('site') ~ '...' %}
   {% endif %}

    <div>
        {% switch filter.type %}

        {% case "entriesField" %}

            {% set entries = craft.entries({
                section: filter.sections
            })
                .orderBy(filter.orderBy ?? null)
            .collect %}

            {% set options = entries|map(entry => {label: entry.title, value: entry.id}) %}

        {% case "usersField" %}

            {% set users = craft.users()
                .orderBy(filter.orderBy ?? null)
            .collect %}

            {% set options = users|map(user => {label: user.name, value: user.id}) %}


        {% case "optionsField" %}

            {% set options = fieldInstance.options|filter(option => option.value != '') %}

        {% case "custom" %}
            
            {% set options = filter.options %}
            {% set label = filter.label %}

        {% endswitch %}

        {{ forms.select({
            name: "#{sectionPath}-filter",
            options: options
            |unshift({label: 'Filter by'|t('contentoverview') ~ ': ' ~ label|t('site'), value: ''}),
            inputAttributes: {
                data: {
                    'field': filter.field,
                    'type': filter.type
                },
                onchange: "co_getSectionHtml('#{ sectionPath }')"
            }
        }) }}

    </div>
{% endfor %}
