{# @params sectionConfig, filters, orderByOptions #}
{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% import '_includes/forms' as forms %}

{% for filter in filters %}

    <div>

        {% set config = {
            name: "#{sectionPath}-filter",
            options: filter.getOptions()
                .prepend({label: 'Filter by'|t('contentoverview') ~ ': ' ~ filter.getLabel|t('site'), value: ''}),
            inputAttributes: {
                data: {
                    'handle': filter.handle
                },
                onchange: "co_getSectionHtml('#{ sectionPath }')"
            }
        } %}


        {% if filter.useElementSelect %}

            {% set id = config.name ~ '-elementSelect-' ~ filter.handle %}

            {# TODO: Reliably detect change events #}
            {{ forms.elementSelect({
                name: "#{sectionPath}-elementIds",
                elementType: filter.elementType,
                sources: filter.field.sources,
                selectionLabel: 'Filter by'|t('contentoverview') ~ ': ' ~ filter.getLabel|t('site'), value: '',
                limit: 1,
                containerAttributes: {
                    onchange: "co_getSectionHtml('#{ sectionPath }')"
                }
            }) }}

        {% elseif filter.useSelectize %}
            {{ forms.selectize(config) }}
        {% else %}
            {{ forms.select(config) }}
        {% endif %}


    </div>
{% endfor %}
