{% for tabIndex, tab in pageTabs %}
    <div class="container-page">
        <div id="{{ "#{tab.id}" }}" class="co {{ loop.index > 1 ? 'hidden' }}">
            {% include [
                '_contentoverview/partials/tab.twig',
                'contentoverview/partials/tab.twig'
            ] %}
        </div>
    </div>
{% endfor %}