{# @params page, tab, settings, tabIndex #}

{% for column in tab.columns %}

    {% set columnIndex = loop.index0 %}

    <div class="co-column-{{ column.width }}">

        {% for sectionConfig in column.sections %}

            {# sectionPath allows ajax requests to identify a section #}
            {% set sectionPath = "#{page.pageKey}-#{tabIndex}-#{columnIndex}-#{loop.index0}" %}

            {% include [
                '_contentoverview/partials/section.twig',
                'contentoverview/partials/section.twig'
            ] %}
        {% endfor %}
    </div>

{% endfor %}