{# @params page, tab, settings, tabIndex #}

{% for column in tab.columns %}

    {% set columnIndex = loop.index0 %}

    <div class="co-column-{{ column.width }}">

        {% for sectionConfig in column.sections %}

            {# sectionPath allows ajax requests to identify a section #}
            {% set sectionPath = "#{page.pageKey}-#{tabIndex}-#{columnIndex}-#{loop.index0}" %}

            {% if sectionConfig.isCustomSection %}
                {% include [
                    '_contentoverview/partials/custom_section.twig',
                    'contentoverview/partials/custom_section.twig'
                ] %}
            {% else %}
                {% include [
                    '_contentoverview/partials/section.twig',
                    'contentoverview/partials/section.twig'
                ] %}
            {% endif %}

        {% endfor %}
    </div>

{% endfor %}