{# @params page, tab, settings, tabIndex #}

{# @var sectionConfig \wsydney76\contentoverview\models\Section #}

{% for column in tab.getColumns() %}

    {% set columnIndex = loop.index0 %}

    <div class="co-column-{{ column.width }}">

        {% for sectionConfig in column.getSections() %}

            {# sectionPath allows ajax requests to identify a section #}
            {% set sectionPath = "#{page.pageKey}-#{tabIndex}-#{columnIndex}-#{loop.index0}" %}

            {% include [
                "_contentoverview/#{sectionConfig.sectionTemplate}",
                "contentoverview/#{sectionConfig.sectionTemplate}"
            ] %}


        {% endfor %}
    </div>

{% endfor %}