{% set settings = craft.contentoverview.settings %}

<p>
    {{ settings.widgetText }}
</p>

{% for tab in settings.tabs %}
    <a class="btn" href="{{ cpUrl('contentoverview') }}#{{ tab.id }}">{{ tab.label }}</a>
{% endfor %}