{% set settings = craft.contentoverview.settings %}

<p>
    {{ settings.widgetText|t('site') }}
</p>

{% for tab in settings.getTabs('page') %}
    <a class="btn" href="{{ cpUrl('contentoverview') }}#{{ tab.id }}">{{ tab.label }}</a>
{% endfor %}